
{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- page content -->
<div class="right_col" role="main" style="min-height: 3888px;">
  <div class="">
   <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="page-title">
      <div class="title_left">
        <h3>Principal <small></small></h3>
      </div>
    </div>
    <div class="x_panel">
      <div class="x_content">

      </div>
    </div>
   </div>
  </div>
</div>

<!-- jQuery -->
<script src="{% static "base/vendors/jquery/dist/jquery.min.js" %}" ></script>

<!-- Bootstrap -->
<script src="{% static "base/vendors/bootstrap/dist/js/bootstrap.min.js" %}" ></script>
<!-- FastClick -->
<script src="{% static "base/vendors/fastclick/lib/fastclick.js" %}" ></script>
<!-- NProgress -->
<script src="{% static "base/vendors/nprogress/nprogress.js" %}" ></script>
<!-- Chart.js -->
<script src="{% static "base/vendors/Chart.js/dist/Chart.min.js" %}" ></script>
<!-- gauge.js -->
<script src="{% static "base/vendors/gauge.js/dist/gauge.min.js" %}" ></script>
<!-- bootstrap-progressbar -->
<script src="{% static "base/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js" %}" ></script>
<!-- iCheck -->
<script src="{% static "base/vendors/iCheck/icheck.min.js" %}" ></script>
<!-- Skycons --> 
<script src="{% static "base/vendors/skycons/skycons.js" %}" ></script>
<!-- Flot -->
<script src="{% static "base/vendors/Flot/jquery.flot.js" %}" ></script>
<script src="{% static "base/vendors/Flot/jquery.flot.pie.js" %}" ></script>
<script src="{% static "base/vendors/Flot/jquery.flot.time.js" %}" ></script>
<script src="{% static "base/vendors/Flot/jquery.flot.stack.js" %}" ></script>
<script src="{% static "base/vendors/Flot/jquery.flot.resize.js" %}" ></script>
<!-- Flot plugins -->
<script src="{% static "base/vendors/flot.orderbars/js/jquery.flot.orderBars.js" %}" ></script>
<script src="{% static "base/vendors/flot-spline/js/jquery.flot.spline.min.js" %}" ></script>
<script src="{% static "base/vendors/flot.curvedlines/curvedLines.js" %}" ></script>
<!-- DateJS -->
<script src="{% static "base/vendors/DateJS/build/date.js" %}" ></script>
<!-- JQVMap -->
<script src="{% static "base/vendors/jqvmap/dist/jquery.vmap.js" %}" ></script>
<script src="{% static "base/vendors/jqvmap/dist/maps/jquery.vmap.world.js" %}" ></script>
<script src="{% static "base/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js" %}" ></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static "base/vendors/echarts/dist/echarts.js" %}"></script>

<script src="{% static "base/vendors/moment/min/moment.min.js" %}" ></script>


<!-- Custom Theme Scripts -->
<script src="{% static "base/build/js/custom.js"%}" ></script>
<script type="text/javascript">

</script>
{% endblock content %}

