{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Polla Mundialista Reypar</title>
</head>
<body>
	<div style="height: 100px; width: 100px">
      <img class="imagenes_header"  src="https://yt3.ggpht.com/a-/AJLlDp3Q7ilC9QaTgPzm34w3j2si-NX1f-uy9P6JzA=s900-mo-c-c0xffffffff-rj-k-no" height="150"></div>
                          <br></br>

    <div style="border-top:3px solid #3B8A37">&nbsp;</div>
    <span style="font-family:Arial;font-size:15pt">
        Estimado(a) <b>{{Nombre}}</b>,<br/><br/>
        Se ha registrado satisfactoriamente a la Polla Mundialista Reypar con los siguientes datos:
        <br/>
        Nombre de usuario: {{username}}
        <br/>
        Contraseña: {{password}}
 <br/> <br/>
        ¡Mucha Suerte!

    </span>
</body>
</html>