{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Polla Mundialista Reypar</title>
</head>
<body>
    <img src="{% static "images/logo-reypar.png" %}" width="101" height="120" /><br /><br />
    <div style="border-top:3px solid #22BCE5">&nbsp;</div>
    <span style="font-family:Arial;font-size:10pt">
        Estimado <b>{{Nombre}}</b>,<br/><br/>
        Se ha registrado satisfactoriamente a la Polla Mundialista Reypar, su usuario es {{username}} y su contraseña es {{password}}<br />
    </span>
</body>
</html>