{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Polla Mundialista Reypar</title>
</head>
<body>
	<div style="height: 100px; width: 100px">
      <img class="imagenes_header"  src="{% static "images/logo-reypar.png" %}" height="150">
                          <br></br>
    <div style="border-top:3px solid #3B8A37">&nbsp;</div>
    <span style="font-family:Arial;font-size:10pt">
        Estimado(a) <b>{{Nombre}}</b>,<br/><br/>
        Se ha registrado satisfactoriamente a la Polla Mundialista Reypar, su usuario es {{username}} y su contraseña es {{password}}<br />
    </span>
</body>
</html>