
{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- page content -->
<div class="right_col"  role="main" style="background: url('/static/images/background1.jpg');background-position: center center;background-repeat: no-repeat;background-attachment: fixed;background-size: cover;" >
  <div class="page-title">
    <div div class="col-md-12 col-sm-12 col-xs-12" align="center">
     <a href="{% url 'index' %}"> <img class="imagenes_header" alt="Escudo concivica" src="{% static "images/logo-polla.png" %}"  height="170"></a>
   </div>

 </div>


 <center><h3  style=" text-shadow:none; color: white">Ranking<small style=" text-shadow:none; color: white"></small></h3></center>
 {%if ranking%}
 <div class="x_panel" style="background:none;border:none" >
  <div class="x_content">
   <div class="col-md-6 col-sm-6 col-xs-12  col-md-offset-3 col-sd-offset-3" >
    <table class="table" style="color:white" align="center">
      <thead>
        <tr>
   
          <th>Nombre</th>
          <th>Puntaje</th>
         
        </tr>
      </thead>
      <tbody>

        {% for usuario in ranking %}
        <tr>
         
          <td>{{usuario.Participante}}</td>
          <td>{{usuario.Puntaje}}</td>
      
   
        </tr>
        {%endfor%}
    
      </tbody>
    </table>

  </div>

</div>
</div>
{%else%}
 <div class="x_panel" style="background:none;border:none" >
  <div class="x_content">
   <div class="col-md-6 col-sm-6 col-xs-12  col-md-offset-3 col-sd-offset-3" >
    <table class="table" style="color:white" align="center">
      <thead>
        <tr>
   
          <th>Nombre</th>
          <th>Puntaje</th>
         
        </tr>
      </thead>
      <tbody>

        {% for usuario in usuarios %}
        <tr>
         
          <td>{{usuario.first_name}} {{usuario.last_name}}</td>
          <td>0</td>
      
   
        </tr>
        {%endfor%}
    
      </tbody>
    </table>

  </div>{%endif%}
<div div class="col-md-12 col-sm-12 col-xs-12" align="center">
  <img class="img-responsive"  src="{% static "images/fondo-polla.png" %}" style="max-height: 190px">

</div>
</div>



</div>
</div>




<!-- jQuery -->
<script src="{% static "base/vendors/jquery/dist/jquery.min.js" %}" ></script>

<!-- Bootstrap -->
<script src="{% static "base/vendors/bootstrap/dist/js/bootstrap.min.js" %}" ></script>
<!-- FastClick -->
<script src="{% static "base/vendors/fastclick/lib/fastclick.js" %}" ></script>

<script src="{% static "base/vendors/fastclick/lib/fastclick.js" %}"></script>
<!-- NProgress -->
<script src="{% static "base/vendors/nprogress/nprogress.js" %}"></script>
<!-- iCheck -->
<script src="{% static "base/vendors/iCheck/icheck.min.js" %}"></script>

<!-- Custom Theme Scripts -->
<script src="{% static "base/build/js/custom.min.js" %}"></script>
<!-- page script -->

{% endblock content %}