
{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- page content -->

<div class="right_col" role="main" style="background: url('/static/images/background1.jpg') no-repeat center center fixed">
  <center><h1 style=" text-shadow:none; color: white;">Registro</h1>
  <h2 style=" text-shadow:none; color: white">resultados</h2></center>
  <div class="">
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="x_panel" style="background:none">
          <div class="x_content">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12 text-center">
              </div>

              <div class="clearfix"></div>

              <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                  <div class="col-sm-12">
                    <h4 class="brief"><i>Fase de Grupos</i></h4>
                    <div class="left col-xs-7">
                      <h2></h2>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-12 bottom text-center">
                    <div class="col-xs-12 col-md-12 col-sm-6 emphasis">
                      <a class="btn btn-success btn-xs" {% if btnRegistroFaseGrupos == True %}disabled{% endif %} href="{% if btnRegistroFaseGrupos == False %}{% url 'registroFaseGruposAdmin' %}{% endif %}"><i class="fa fa-pencil">
                        </i> Registro Resultados</a>
                      <button type="button" class="btn btn-primary btn-xs">
                        <i class="fa fa-file-text-o"> </i> Ver Resultados
                      </button>
                    </div>
                  </div>
                </div>
              </div>

               <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                  <div class="col-sm-12">
                    <h4 class="brief"><i>Fase de Octavos</i></h4>
                    <div class="left col-xs-7">
                      <h2></h2>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-12 bottom text-center">
                    <div class="col-xs-12 col-md-12 col-sm-6 emphasis">
                      <a class="btn btn-success btn-xs" {% if btnRegistroFaseOctavos == True %}disabled{% endif %} href="{% if btnRegistroFaseOctavos == False %}{% url 'registroOctavosAdmin' %}{% endif %}"><i class="fa fa-pencil">
                        </i> Registro Resultados</a>
                      <button type="button" class="btn btn-primary btn-xs">
                        <i class="fa fa-file-text-o"> </i> Ver Resultados
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                  <div class="col-sm-12">
                    <h4 class="brief"><i>Fase de Cuartos</i></h4>
                    <div class="left col-xs-7">
                      <h2></h2>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-12 bottom text-center">
                    <div class="col-xs-12 col-md-12 col-sm-6 emphasis">
                      <a class="btn btn-success btn-xs" {% if btnRegistroFaseCuartos == True %}disabled{% endif %} href="{% if btnRegistroFaseCuartos == False %}{% url 'registroCuartosAdmin' %}{% endif %}"><i class="fa fa-pencil">
                        </i> Registro Resultados</a>
                      <button type="button" class="btn btn-primary btn-xs">
                        <i class="fa fa-file-text-o"> </i> Ver Resultados
                      </button>
                    </div>
                  </div>
                </div>
              </div>

             <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                  <div class="col-sm-12">
                    <h4 class="brief"><i>Fase de Semifinales</i></h4>
                    <div class="left col-xs-7">
                      <h2></h2>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-12 bottom text-center">
                    <div class="col-xs-12 col-md-12 col-sm-6 emphasis">
                      <a class="btn btn-success btn-xs" {% if btnRegistroFaseSemi == True %}disabled{% endif %} href="{% if btnRegistroFaseSemi == False %}{% url 'registroSemifinalesAdmin' %}{% endif %}"><i class="fa fa-pencil">
                        </i> Registro Resultados</a>
                      <button type="button" class="btn btn-primary btn-xs">
                        <i class="fa fa-file-text-o"> </i> Ver Resultados
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              
               <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                  <div class="col-sm-12">
                    <h4 class="brief"><i>Fase Final</i></h4>
                    <div class="left col-xs-7">
                      <h2></h2>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-12 bottom text-center">
                    <div class="col-xs-12 col-md-12 col-sm-6 emphasis">
                      <a class="btn btn-success btn-xs" {% if btnRegistroFaseFinal == True %}disabled{% endif %} href="{% if btnRegistroFaseFinal == False %}{% url 'registroFinalesAdmin' %}{% endif %}"><i class="fa fa-pencil">
                        </i> Registro Resultados</a>
                      <button type="button" class="btn btn-primary btn-xs">
                        <i class="fa fa-file-text-o"> </i> Ver Resultados
                      </button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- jQuery -->
<script src="{% static "base/vendors/jquery/dist/jquery.min.js" %}" ></script>

<!-- Bootstrap -->
<script src="{% static "base/vendors/bootstrap/dist/js/bootstrap.min.js" %}" ></script>
<!-- FastClick -->
<script src="{% static "base/vendors/fastclick/lib/fastclick.js" %}" ></script>
<!-- NProgress -->
<script src="{% static "base/vendors/nprogress/nprogress.js" %}" ></script>
<!-- Chart.js -->
<script src="{% static "base/vendors/Chart.js/dist/Chart.min.js" %}" ></script>
<!-- gauge.js -->
<script src="{% static "base/vendors/gauge.js/dist/gauge.min.js" %}" ></script>
<!-- bootstrap-progressbar -->
<script src="{% static "base/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js" %}" ></script>
<!-- iCheck -->
<script src="{% static "base/vendors/iCheck/icheck.min.js" %}" ></script>
<!-- Skycons --> 
<script src="{% static "base/vendors/skycons/skycons.js" %}" ></script>
<!-- Flot -->
<script src="{% static "base/vendors/Flot/jquery.flot.js" %}" ></script>
<script src="{% static "base/vendors/Flot/jquery.flot.pie.js" %}" ></script>
<script src="{% static "base/vendors/Flot/jquery.flot.time.js" %}" ></script>
<script src="{% static "base/vendors/Flot/jquery.flot.stack.js" %}" ></script>
<script src="{% static "base/vendors/Flot/jquery.flot.resize.js" %}" ></script>
<!-- Flot plugins -->
<script src="{% static "base/vendors/flot.orderbars/js/jquery.flot.orderBars.js" %}" ></script>
<script src="{% static "base/vendors/flot-spline/js/jquery.flot.spline.min.js" %}" ></script>
<script src="{% static "base/vendors/flot.curvedlines/curvedLines.js" %}" ></script>
<!-- DateJS -->
<script src="{% static "base/vendors/DateJS/build/date.js" %}" ></script>
<!-- JQVMap -->
<script src="{% static "base/vendors/jqvmap/dist/jquery.vmap.js" %}" ></script>
<script src="{% static "base/vendors/jqvmap/dist/maps/jquery.vmap.world.js" %}" ></script>
<script src="{% static "base/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js" %}" ></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static "base/vendors/echarts/dist/echarts.js" %}"></script>

<script src="{% static "base/vendors/moment/min/moment.min.js" %}" ></script>


<!-- Custom Theme Scripts -->
<script src="{% static "base/build/js/custom.js"%}" ></script>
<script type="text/javascript">

</script>
{% endblock content %}

