<div class="modal-dialog modal-md" role="document">
  <div class="modal-content">
    <div class="modal-header" style="background-color:#446587">
        <button style="color: white" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <center><h4 class="modal-title" style="color: white">Detalle de Alumno</h4></center>
      </div>

    <div class="modal-body">
      <div class="row"> 
        <div div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel tile">
            <div class="x_title">
              <h2>Información del Alumno</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="form-group">
                <div >
                 <table class="table table-bordered" id="tabla1"  width="100%">
                  <thead>

                    <tr>
                      <th>Deporte</th>
                      <td>{{alumnoF.deporte}}</td>
                    </tr>

                    <tr>
                      <th>Número de Documento</th>
                      <td>{{alumnoF.identificacion}}</td>
                    </tr>
                    <tr>
                      <th>Nombre</th>
                      <td>{{alumnoF.nombre_completo}}</td>
                    </tr>
                   
                    <tr>
                      <th>Sexo</th>
                      {% if alumnoF.sexo == 1%}
                      <td>Femeninno</td>
                      {% else %}
                      <td>Masculino</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th>Fecha nacimiento</th>
                      <td>{{alumnoF.fecha_nacimiento}}</td>
                    </tr>
                    <tr>
                      <th>Institución educativa</th>
                      <td>{{alumnoF.institucion_educativa}}</td>
                    </tr>
                  </thead>

                </table>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel tile">
          <div class="x_title">
            <h2>Información del Acudiente</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="form-group">

              <div >

                <table class="table table-bordered"  width="100%" cellspacing="0">
                  <thead>
                   
                    <tr>
                      <th>Identificación</th>
                      <td>{{acudienteF.identificacion_acudiente}}</td>
                    </tr>
                    <tr>
                      <th>Nombre</th>
                      <td>{{acudienteF.nombre_completo_acudiente}}</td>
                    </tr>
                    <tr>
                      <th>Teléfono 1</th>
                      <td>{{acudienteF.telefono1_acudiente|default_if_none:"Sin registro"}}</td>
                    </tr>
                     <tr>
                      <th>Teléfono 2</th>
                      <td>{{acudienteF.telefono2_acudiente|default_if_none:"Sin registro"}}</td>
                    </tr>
                    <tr>
                      <th>Celular</th>
                      <td>{{acudienteF.celular_acudiente|default_if_none:"Sin registro"}}</td>
                    </tr>
                     <tr>
                      <th>Correo</th>
                      <td>{{acudienteF.correo_acudiente|default_if_none:"Sin registro"}}</td>
                    </tr>
                  </thead>

                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
<div class="modal-footer">
  <button class="btn btn-danger btn-lg" type="button" data-dismiss="modal">Cancelar</button>

</div>

  </div>
</div>

</div>
</div>


<!-- /.content-wrapper-->

